[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastexcel = "*"
matplotlib = "*"
more-itertools = "*"
notebook = "*"
openpyxl = "*"
pandas = "*"
polars = "*"
pyarrow = "*"
requests = "*"
scikit-learn = "*"
seaborn = "*"
yellowbrick = "*"

[dev-packages]
jupytext = "*"
pandas-stubs = "*"
