[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupytext = "*"
matplotlib = "*"
notebook = "*"
pandas = "*"
openpyxl = "*"
more-itertools = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.11"
